@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to top, #ff9000, #f8ac00, #e9c900, #d2e400, #b0ff00);
}

#hangman {
    margin: 20px auto 0 auto;
}

#letters {
    text-align: center;
}

button {
    width: 90px;
    height: 90px;
    margin: 10px;
    font-size: 32px;
}

#category {
    text-align: center;
    font-size: 32px;
    margin: 30px 0 30px 0;
}

#word {
    margin: 50px auto 30px auto;
    width: 80vw;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    padding: 20px 0 20px 0;
    background-color: #fff;
}

#output {
    text-align: center;
}

.step {
    display: inline-block;
    opacity: 1;
}

.step img {
    width: 150px;
    height: 150px;
    padding: 0 40px;
}

@media screen and (max-width: 919px) {
    
    .step img {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    #word {
        width: 90vw;
        font-size: 30px;
        letter-spacing: 5px;
        padding: 45px 0 45px 0;
    }
    #letters {
        text-align: center;
    }
    
    button {
        width: 45px;
        height: 45px;
        margin: 5px;
        font-size: 28px;
    }
    #category {
        text-align: center;
        font-size: 32px;
        margin: 15px 0 15px 0;
    }
  }